<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>

  <system.serviceModel>
    <services>
      <service name="ServiceApp.WcfKangoService">
        <endpoint contract="ServiceApp.IWcfKangoService"
                  binding="netTcpBinding"
                  address="net.tcp://localhost:4444/Kango" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding"
                 closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:30:00" 
                 transactionProtocol="OleTransactions" listenBacklog="50" maxBufferPoolSize="52428800" maxBufferSize="65536000" 
                 maxConnections="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <connectionStrings>
    <add name="BaliContext" connectionString="data source=sharp.kst.fri.uniza.sk;initial catalog=potst2019_TvrdyBranislavDb;persist security info=True;user id=potst2019_TvrdyBranislav;password=558884;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>